// COLORS :
// primary
$soft_blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

// neutral
$very_dark_blue_main_bg: hsl(217, 54%, 11%);
$very_dark_blue_card_bg: hsl(216, 50%, 16%);
$very_dark_blue_main_line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

//BREAKPOINTS :
$breakpoint-phone: 375px;
$breakpoint-tablet:768px;
$breakpoint-computer: 1440px;